%main-hover
  transition: 0.3s

  &:hover
    color: $primary-color

%title-text-shadow
  text-shadow: 3px 2px $black

.btn
  padding: 0.6rem 1rem
  border: 1px solid $light-color
  text-transform: uppercase
  border-radius: 5px
  transition: 0.3s
  color: $light-color

  &:hover
    border-color: $primary-color
    color: $primary-color

  &-primary
    background: $primary-color
    border-color: $primary-color

    &:hover
      background: transparent

  &-rounded
    margin-top: 1rem
    border-radius: 2rem
    padding: 1rem 1.5rem
